.userCard {
  display: flex;
  align-items: center;
  padding: 2px 12px 2px 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noPaddingCard .ant-card-body {
  padding: 0;
}
.userText {
  padding: 0px !important;
}
@media screen and (max-width: 768px) {
  .userCard {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
  }
}
