/* UserCard.module.css */

/* Styles for the custom card container */
.customCard {
  width: 100%; /* Adjust the width as needed */
  padding: 16px 0 0 16px;
}

/* Styles for the card content (avatar, name, and view link) */
.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for the user name */
.userName {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Styles for the "View" link */
.viewLink {
  color: #1890ff; /* Link color */
  text-decoration: none;
  font-weight: bold;
  padding-right: 12px;
  padding-bottom: 5px;
}
